.app-title {
  text-align: center;
  color: rebeccapurple;
}
.container {
  text-align: center;
  background-color: lightblue;
  border: 1px solid red;
}
li {
  list-style: none;
}
p {
  color: black;
}
.add-btn {
  background-color: red;
  border: 1px solid red;
  border-radius: 10%;
  color: white;
  padding: 11px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn {
  background-color: red;
  border: 1px solid red;
  border-radius: 12%;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="text"],
select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
